
.main-01 {
    width:100%;
      /* width: 96rem; */
      height: 6rem;
      display: flex;
      justify-content: center;
      padding: 0;
      margin-bottom: 1.875rem;
    }
    #div-table{
      justify-content: center;
      display: flex;
    }
  .main-02 {
    width:100%;
        /* width: 97rem; */
      color: #fff;
      background: #1F3A93;
      padding-left: 40rem;
      padding-top: 0.2rem;
      display: inline-block;
    }
    .p-ticket-head{
        color: white;
        font-size: 1.8rem;
        font-family: "Poppins", sans-serif;
        margin-left: 24.625rem;
        margin-top: 1.800rem;
    }
  
  .train-table{
      padding-top: 4rem;
     
  }
    table {
      font-family: arial, sans-serif;
      font-weight: bold;
      border-collapse: collapse;
      width: 74%;
      height: 45%;
      margin-left: 1.8rem;
      
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 0.4rem;
      height: 25px;
    }

    
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    #div-table{
        padding-top: 4.5rem;
    }
    .td-first{
        background-color: #5CB8DC ;
    }
    .td-second{
        background-color:  rgb(250, 151, 70);
    }