.booking__users {
    /* border: 1px solid red; */
    margin-top: 6rem;
}

.booking__users--topic {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.topic__text {
    color: rgba(31, 58, 147, 0.8);
    font-family: "Sora", 'sans-serif';
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;
}

.topic__travel-date {
    font-size: 1.7rem;
    color: rgb(119, 119, 119);
    margin-bottom: .5rem;
}

.booking__users--card-container {
    margin: 0 15vw;
    border: 1px solid rgba(31, 58, 147, 0.8);
}

.booking__users--card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.booking__users--card:not(:last-child) {
    border-bottom: 1px solid rgba(31, 58, 147, 0.8);
}

.btn__refund,
.btn__refund-all {
    background-color: rgba(31, 58, 147, 0.8);
    padding: .5rem;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.btn__refund-all {
    display: block;
    width: 10rem;
    margin: 0 auto;
    margin-top: 6rem;
}

.userdetails-box--dropdown {
    background-color: rgb(31, 58, 147);
    border-radius: 5px;
}

.userdetails-box--dropdown a {
    color: #fff !important;
}

.booking__users--id {
    width: 5rem;
    text-align: left;
}

.booking__users--email {
    width: 20rem;
    text-align: left;
}

.booking__users--weight {
    width: 5rem;
    text-align: left;
}

.booking__users--booking-date {
    /* border: 1px solid red; */
    width: 15rem;
    text-align: left;
}