<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    
    <link rel="stylesheet" href="../../../utrance-railway/public/css/layout/flashSuccess.css" />

    <title>Utrance Railway</title>
</head>

<body>


<div class="alert-Success hide-Success">
<span class="fas fa-check-circle"></span>
<span class="msg-Success ">Sucess:Your File has been uploaded!!</span>
<span class="close-btn-Success">
<span class="fas fa-times"></span>
</span>
</div>


<script>

    $('.alert-Success').removeClass("hide-Success");
    $('.alert-Success').addClass("show");


$('.close-btn-Success').click(function(){
    $('.alert-Success').addClass("hide-Success");
    $('.alert-Success').removeClass("show");
});
</script>

</body>
</html>