.login {
  display: flex;
  align-items: stretch;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.login input {
  border-bottom: 1px solid #1F3A93;
  padding: 1rem 0;
  font-family: "Noto Sans JP", sans-serif;
}

.login__img {
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center;
  background-image: url("/public/img/pages/login/train-cover.jpg");
}

.login__form {
  flex: 1;
  position: relative;
  background-color: #fff;
}

.login__form-container {
  color: #1F3A93;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__big-box {
  height: 10rem;
}

.login__text {
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.login__new-account--1 {
  color: rgb(119, 119, 119);
}

.login__new-account--2:link,
.login__new-account--2:active {
  color: #000000;
  transition: all .5s;
}

.login__new-account--2:hover {
  color: #1F3A93;
}

.login__credentials {
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-around;
  font-size: 1.5rem;
}