<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/ticket_price.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
 <div id="ticket_price_header">
     Ticket Prices
     </div>
     <div id="ticket_price_form">
         <div style="float: left;padding-top: 70px;padding-left: 250px;">
         
         <text class="ticket_price_text">From</text>
         <text class="ticket_price_text">To</text>
         <text class="ticket_price_text">Train Type</text>
         </div>

   

    <div id="ticket_price_option">
           
            <select class="select_ticket" >
                <option value="Matara">Matara</option>
                <option value="Weligama">Weligama</option>
                <option value="Galle">Galle</option>
                <option value="Habaraduwa">Habaraduwa</option>
                <option value="Colombo">Colombo</option>
             </select>

             <select class="select_ticket"  style="margin-left: 160px;float: left;">
                <option value="Matara">Matara</option>
                <option value="Weligama">Weligama</option>
                <option value="Galle">Galle</option>
                <option value="Habaraduwa">Habaraduwa</option>
                <option value="Colombo">Colombo</option>
             </select>
              
             <select id="train_type_selection" >
                <option value="Normal">Normal</option>
                <option value="Express">Express</option>
                <option value="Intercity">Intercity</option>
                <option value="Night mail">Night Mail</option>
            </select>

             <button class="btnSearch" >Search</button>
     </div>

     <div id="price_show">
         <input class="input_prices" >
         
        
         <input class="input_prices" style="margin-left: 150px;">

         <input class="input_prices" style="margin-left: 80px;">

     </div>
     <div style="margin-top: 260px;font-weight: bold;margin-left: 180px;">
         <text style="display: inline;font-family: Aldrich;margin-left: 60px;">First Class</text>
         <text style="display: inline;font-family: Aldrich;margin-left: 230px;">Second Class</text>
         <text style="display: inline;font-family: Aldrich;margin-left: 230px;">Third Class</text>
     </div>

     
     </div>
</body>
</html>