:root {
  --color-primary: #eeeeee;
  --color-primary-light: 27, 147, 194;
  --color-secondary-dark: 19, 0, 38;

  --color-secondary-light: 74, 74, 74;

  --color-tertiary-light: 192, 196, 199;
  --color-slight-gray: #ecf0f1;
  --color-brown: rgb(119, 119, 119);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth !important;
}

html {
  font-size: 62.5%; /* 1rem = 10px */ /* 10px/16px */
  font-family: "Sora", sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  color: black;
  background-color: var(--color-primary);
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link,
a:active,
a:visited {
  color: #fff;
  /* color: black; */
}

.btn {
  outline: none;
  cursor: pointer;
  color: #fff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* browser prefixes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
  outline: none;
  border: none;
  font-family: "Sora", sans-serif;
}


button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Sora", sans-serif;
  /* transition: all .2s; */
}
