:root {
  --color-primary: #eeeeee;
  --color-primary-light: 27, 147, 194;
  --color-secondary-dark: 19, 0, 38;

  --color-secondary-light: 74, 74, 74;

  --color-tertiary-light: 192, 196, 199;
  --color-slight-gray: #ecf0f1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */ /* 10px/16px */
  font-family: "Sora", sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  color: black;
  background-color: var(--color-primary);
}

input {
  border: none;
  outline: none;
}

.btn {
  outline: none;
  cursor: pointer;
  color: #fff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
