#newsFeed{
    width: 100%;
    padding-top: 30px;
}
.newsCollection{
    width: 250px;
    height:330px;
    background-color:#A2A2A1FF;
    margin-left: 60px;
    border-radius: 4px;
    font-weight: bold;
    padding: 0;
}

.img_train{
    cursor: pointer;
    transition: transform .2s;
}
.img_train:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  .news_button{
      background-color: #195190FF;
      color: white;
      font-family: Aldrich;
      font-size: 12px;
      width: 120px;
      height: 24px;
      margin-left: 30px;
      padding-top: 5px;
      cursor:pointer;
      border: none;
  }

  a {
    text-decoration: none;
    
  }
  
  .news_button:hover {
    background-color:#606060FF;
    color: black;
  }








  .button {
    
    display: inline-block;
    border-radius: 4px;
    background-color:#140028;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 210px;
    height: 40px;
    font-weight: bolder;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: Aldrich;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 