/* ///// BASE ///// */

/* variables */
:root {
  --color-primary-dark: 33, 3, 64;
  --color-primary-light: 27, 147, 194;
  --color-secondary-dark: 19, 0, 38;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */ /* 10px/16px */
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  background-color: rgb(var(--color-primary-dark));
  background-image: linear-gradient(
      to right bottom,
      rgba(var(--color-primary-dark), 0.8),
      rgba(var(--color-secondary-dark), 0.8)
    ),
    url("../img/train-front.jpg");
  background-size: cover;
}

/* ///// BASE ///// */

/* ///// COMPONENTS ///// */

/* BUTTONS */

.btn {
  outline: none;
  cursor: pointer;
}

/* BUTTONS */

/* ///// COMPONENTS ///// */


/* ///// LAYOUTS ///// */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  /* background-color: blueviolet; */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(19, 0, 38);
}

.user-nav {
  display: flex;
  /* border: 1px solid salmon; */
  margin-right: 19rem;
}

.user-nav div {
  /* border: 2px dotted pink; */
  margin-left: 2rem;
  padding: 2rem;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.user-nav a {
  text-decoration: none;
  color: #fff;
}

.logo {
  height: 4rem;
  margin-left: 19rem;
}

.footer {
  margin-top: 10rem;
  background-color: rgb(19, 0, 38);
  flex: 1;
  padding: 4rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

/* ///// LAYOUTS ///// */

/* home.php */

.primary-content {
  height: 60vh;
}

.primary-content--intro {
  /* background-color: aqua; */
  height: 20vh;
}

.primary-content--searchbar {
  /* background-color: beige; */
  height: 25vh;
  position: relative;
}

.search-box {
  background-color: rgb(27, 147, 194);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  /* padding: 3rem 20rem; */
  height: 7rem;
  width: 70vw;
  padding: 1rem;
  border-radius: 5px;
}

.search-box--inside {
  height: 7rem;
  border-radius: 5px;
}

.search-bar__form {
  display: flex;
  border: 1px solid orchid;

}

.search-bar__form-1,
.search-bar__form-2 {
  width: 20%;
  margin-right: 2rem;
}

.search-bar__form-1,
.search-bar__form-2,
.search-bar__form-3 {
  padding: 1rem;
  background-color: azure;
  border-radius: 2px;
  /* border: 1px solid black; */
}

.search-bar__form-1 label,
.search-bar__form-2 label,
.search-bar__form-3 label {
  display: block;
}

.search-bar__form-3 {
  flex: 1;
}

input {
  border: none;
  border-bottom: 1px solid red;
  outline: none;
}

.search-btn {
  display: inline-block;
  position: absolute;
  top: 120%;
  left: 50%;
}

.search-btn button {
  padding: 1rem;
  background-color: transparent;
  border-radius: 1.5rem;
  border: none;
  border-bottom: 1px solid red;
  color: #fff;
}

/* home.php */


