body{
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100%;
}

#user_header{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right, #210340,#2EB1E6 );
    font-family: Aldrich;
   
    font-size: 24px;
    margin: 0;
    color:white;
    padding-top: 14px;
    
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
}
.text_type{
    float: left;
    font-size: 20px;
    font-family: Aldrich;
    font-weight: bold;
    margin-top: 10px;
}
#update_train_form{
    margin-left: 200px;
    margin-top: 20px;
    align-content: center;
    width: 950px;
    height: 1070px;
    border-color: black;
    border-style: groove;
}

.input_train_details{
   
    width: 350px;
    height: 30px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    
  
}
.names{
    margin-top: 30px;
    margin-left: 35px;
   
}
#train_stop_stations{
    margin-top: 30px;
    margin-left: 35px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    width: 850px;
    padding: 10px;
    height: 400px; 
}

#name_train{
    margin-top: 30px;
    margin-left: 35px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    width: 850px;
    padding: 10px;
    height: 100px;
}
.select_train_details{
    width: 350px;
    height: 40px;
    font-family: Aldrich;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;

    
}
#train_up{
    margin-left: 50px;
    float: left;
    width: 150px;
}
#train_up1{
    margin-left: 25px;
    float: left;
    width: 150px;
    margin-top: 10px;
}

#select_from{
    width: 150px;
    height: 40px;
}

#select_from1{
    width: 150px;
    height: 40px;
    margin-top: 20px;
   
}
.button_up{
    width: 150px;
    height:40px;
    margin-left: 120px;
    border-radius: 4px;
    color: white;
    background-color: #210340;
    border-color: white;
    border-style: solid;
    font-family:Aldrich;
    cursor: pointer;
    
}
#textup_area{
    width: 280px;
    height: 120px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-left: 270px;
    margin-top: 20px;
    display: block;
}
#textup_area1{
    width: 280px;
    height: 120px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-left: 270px;
    margin-top: 20px;
    display: block;
}
#select_to1{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    
}
    
#select_to{
    width: 150px;
    height: 40px;
    
}
.input_class{
    width: 150px;
    margin-top: 20px;
    height: 30px;
    margin-left: 40px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    float: left;
}
#train_ticket_prices{
    display: block;
}
#train_duration{
    margin-top: 80px;
    margin-left: 35px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    width: 850px;
    padding: 10px;
    height: 100px; 
}
.text_type1{
    display: block;
    font-size: 20px;
    font-family: Aldrich;
    font-weight: bold;
    margin-top: 10px;
}


.time_select{
    width: 60px;
    height: 35px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    margin-left: 20px;
}
   