.btn {
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: all 0.2s;
}

.btn-white:link,
.btn-white:visited {
  color: var(--color-btn-text-view);
}

.btn-white--delete:link,
.btn-white--delete:visited {
  color: var(--color-btn-box-text-delete);
}

/* ----- */

.btn-box-white {
  padding: 1.2rem 0;
  border-radius: 5px;
  color: var(--color-btn-text-view);
  background-color: var(--color-btn-box-background-white);
}

.btn-box-white:focus,
.btn-box-white:active {
  transform: scale(0.97);
}

.btn-box-white--delete {
  color: var(--color-btn-box-text-delete);
}

.btn-box-white--activate {
  color: var(--color-btn-box-text-activate);
}

/* ----- */

.btn-square-blue {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 1rem;
  color: var(--color-btn-square-text);
  background-color: var(--color-btn-square-background);
  cursor: pointer;
}

.btn-square-blue:link,
.btn-square-blue:visited {
  color: var(--color-btn-square-text);
}

.btn-square-blue:active,
.btn-square-blue:focus {
  transform: translateY(0.2rem);
}

.btn-square-blue__text {
  margin-right: 2rem;
  font-size: 2rem;
}

.btn-square-blue__icon {
  fill: #fff;
  height: 2.5rem;
  width: 2.5rem;
}

/* ----- */

.btn-round-blue {
  width: 12rem;
  text-align: center;
  background-color: var(--color-btn-round-background);
  border-radius: 10rem;
  padding: 1rem;
  color: var(--color-btn-round-text);
  font-family: "Lato", "sans-serif";
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-round-blue:active,
.btn-round-blue:focus {
  transform: translateY(3px);
}

.btn-round-blue:hover {
  background-color: var(--color-btn-round-background--hover);
}

/* ----- */

.btn-round-pagination {
  border: 1px solid var(--color-btn-round-pagination-border);
  display: flex;
  align-items: center;
  width: max-content;
  padding: 0.5rem;
  border-radius: 10rem;
  margin-left: 1rem;
  color: var(--color-main);
}

/* .btn-round-pagination__prev {
  justify-self: flex-start;
}

.btn-round-pagination__next {
  justify-self: flex-end;
} */

.btn-round-pagination--img {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-main);
}

.btn-round-pagination__prev span {
  padding-right: 0.5rem;
}

.btn-round-pagination__next span {
  padding-left: 0.5rem;
}

.btn-search {
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  border: 1px solid var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.btn-search__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-main);
  transition: all 0.2s;
}

.btn-search:focus .btn-search__icon,
.btn-search:active .btn-search__icon {
  transform: scale(0.9);
}

.btn-square-small {
  padding: 1rem;
  background-color: var(--color-btn-square-background);
  color: #fff;
}

/* ----- */
.btn-square-no-bg {
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  padding: 1rem;
  width: 10rem;
  font-size: 1.5rem;
  transition: background-color 0.3s, border 0.3s, color 0.3s, box-shadow 0.3s,
    transform 0.3s;
}

.btn-square-no-bg:hover {
  background-color: #fff;
  border: 1px solid transparent;
  color: #000000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn-square-no-bg:active {
  transform: translateY(2px);
}

.btn-square-no-bg--disabled {
  border: 1px solid rgb(238, 238, 238);
  text-align: center;
  color: rgb(238, 238, 238);
  padding: 1rem;
  width: 10rem;
  font-size: 1.5rem;
}

/* ----- */
.btn-square-upload {
  padding: 5px;
  border-bottom: 1px solid rgba(31, 58, 147, 0.8);
  transition: all 0.3s;
  cursor: pointer;
  display: inline-block;
  margin-left: 1rem;
}

.btn-square-upload:hover {
  color: #fff;
  transform: translateY(-2px);
  background-color: rgba(31, 58, 147, 0.8);
}

/* ----- */
.btn-login {
  margin-top: 2rem;
  padding: 1.2rem;
  border: 1px solid #1f3a93;
  width: 11rem;
  text-align: center;
  border-radius: 10rem;
  align-self: flex-end;
  font-size: 1.75rem;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s;
}

.btn-login:hover {
  background-color: #1f3a93;
  color: #fff;
}

/* BACK BUTTON */
.btn-back__icon {
  width: 4rem;
  height: 4rem;
  fill: var(--color-btn-round-background);
  transition: all 0.5s;
}

.btn-back:hover .btn-back__icon {
  fill: var(--color-btn-round-background--hover);
}
