.newscard-small {
  border: 1px solid rgba(119, 119, 119, 0.2);
  width: 50rem;
  height: 20rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.newscard-small > * {
  margin-left: 1.5rem;
}

.newscard-small__img-box {
  width: 15rem;
  height: 15rem;
  transform: translateY(-4rem);
  border-radius: 5px;
}

.newscard-small__img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.newscard-small__content {
  height: 75%;
  flex: 1;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  align-self: center;
  overflow: hidden;
}

.newscard-small__view-btn {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 1.5rem auto;
  justify-content: space-around;
  color: rgba(31, 58, 147, 0.8);
  font-weight: 500;
  cursor: pointer;
}

.newscard-small__view-btn span {
  font-size: 1.5rem;
}

.newscard-small__icon {
  height: 2rem;
  width: 2rem;
  fill: rgb(119, 119, 119);
}
