/* section searchresults */
.searchResults {
    /* border: 1px solid red; */
    margin: 0 10vw 0 10vw;
    display: flex;
}

.filters-container {
    /* border: 1px solid green; */
    width: 20%;
    padding: 1rem;
    align-self: stretch;
}


.search__card-classbox--selectclass {
    padding: 1rem;
}
