/* section searchresults */
.searchResults {
    /* border: 1px solid red; */
    margin: 0 10vw 0 10vw;
    display: flex;
}

.filters-container {
    /* border: 1px solid green; */
    width: 20%;
    padding: 1rem;
    align-self: stretch;
}

/* .search__results-cards-container {
    /* border: 1px solid gray; 
    margin: 2rem;
    width: 60%;
}

.search__results-card {
    display: flex;
    /* justify-content: space-between; 
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 4rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    /* border: 1px solid red; 
} */

/* .search__results-card--small {
  height: 18rem;
}

.search__results-card--big {
    height: 35rem;
} */

/* .search__results-card-main {
  width: 42rem;
  display: flex;
  flex-direction: column;
  margin: 0 4rem; 
} */

/* .search__results-card-sub {
  flex: 1;
  align-self: stretch;
} */

/* .search__results-card-primary {
  align-items: center; 
  justify-content: space-between; 
  display: flex;
} */

/* .search__card-detailbox {
  flex: 2;
} */

/* .search__card-durationbox {
  flex: 1;
} */

.search__results-card-main > * {
  /* border: 1px solid brown; */
  /* width: 30rem; */
}

.search__results-card > * {
    /* border: 1px solid blue; */
    /* height: 100%; */
}

/* .switch-card {
  height: 8rem;
  margin: 2rem 0;
  background-color: #fff;
  border-top: 1px solid rgba(119, 119, 119, .2);
  border-bottom: 1px solid rgba(119, 119, 119, .2);
} */

/* .switch-card__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

/* .switch-card__container-main {
  display: flex;
  width: 42rem;
  justify-content: space-around;
  align-items: center;
} */

/* .switch-card__container-sub {
  flex: 1;
  background-color: rgba(119, 119, 119, 0.2);
  align-self: stretch;
} */

/* .switch-card__icon-text-container {
  display: flex;
} */

/* .swich-card__icon-box {
  margin-right: 1rem;
} */

.switch-card__content-box {
  /* margin-right: 8rem; */
}

.switch-card > * {
  /* border: 1px solid blue; */
  /* margin-right: 4rem; */
  /* padding: .2rem; */
}

/* .search__card-detailbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 35%;
} */

/* .search__card-detailbox > *:not(:last-child) {
    margin-bottom: 1rem;
} */

/* .search__card-classbox {
    padding: 1rem;
    background-color:rgba(31, 58, 147, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .search__card-detailbox--train-time {
    font-size: 2rem;
    font-weight: 700;
} */

.search__card-classbox--selectclass {
    padding: 1rem;
}

/* .search__card-detailbox--train-name a {
    color: rgb(119, 119, 119) !important;
} */

/* .btn-cta {
    border: 1px solid #89c4f4;
    align-self: center;
    width: 8rem;
    border-radius: 5px;
} */

/* .search__card-classbox--btnproceed {
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    padding: 1rem;
    width: 10rem;
    font-size: 1.5rem;
    transition: all .3s;
  }
  
  .search__card-classbox--btnproceed:hover {
    background-color: #fff;
    border: 1px solid transparent;
    color: #000000;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
} */

/* .search__card-classbox--btnproceed:active {
  transform: translateY(2px);
} */

/* .swap-icon__switch-card {
  height: 3rem;
  width: 3rem;
} */

/* .switch-card__text-box {
  display: flex;
  justify-content: space-between;
}

.switch-card__text-box span {
  color: rgb(119, 119, 119);
} */