.ticket__prices {
  /* border: 2px solid red; */
  margin-top: 5rem;
}

.search__box {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 30vw;
}

.search__box div {
  
    width: 15rem;
  /* width:15rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .4); */
}

.search__box span {
  font-size: 2rem;
  width: 5rem;
}

.input__from,
.input__to{
  height: 5rem;
    width: 15rem;
    padding: .5rem;
    font-size: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    font-family: 'Sora', Courier, monospace;

}

.search__box--item {
  /* border: 1px solid green; */
  padding: 1rem;
}

.btn-square-blue {
  margin-top: 0;
  padding: 1.5rem;
  border-radius: 10rem;
  width: 10rem;
  justify-content: center;
}

.search__results-container {
  /* border: 1px solid red; */
  margin: 5rem 15vw 0 15vw;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
}

.results__set {
  display: flex;
  justify-content: space-around;
}

.seat__class--box {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
}

.seat__class--box-item {
  margin: 1rem;
}

.class__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-main);
}

.class__price {
  font-size: 2rem;
  border: 1px solid var(--color-main);
  padding: .5rem;
}

.class__name {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
}

.icon__btn {
  cursor: pointer;
}

.icon__btn:active,
.icon__btn:focus {
  transform: scale(.9);
}

.number-of-persons__box {
  /* border: 1px solid red; */
  width: 15rem;
  margin: 3rem auto;
  display: flex;
  align-items: center;
}
 #number__box{
  width:2.5rem;
  padding:0.5rem;
  text-align: center;
}

#number__box__name{
  padding: 0.5rem;

}




























.from__station-container {
  position: relative;
  width: 15rem;
  justify-content: space-between;
}

.search-dropdown {
  display: block;
  width: 14.5rem;
  height: 4rem;
  top: 50%;
  
  
  /* border: 1px solid salmon; */
  
  position: absolute;
  
  
  transform: translateY(-50%);
  width:100%;
  height:100%;
  display: none;
  /* visibility: hidden; */
  z-index: 90;
}
.search-dropdown__search {
  
  /* border: 1px solid red; */

 
  background-color: #fff;
  /* padding: 1rem; */
  width: 100%;
  /* height: 4rem; */
  font-family: "Sora", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  height: 100%;
  
  /* position: absolute; */
}

.search-dropdown__search-results {
  list-style: none;
  
  overflow: scroll;
  visibility: hidden;
  display: block;
  padding: 0px;
  position: absolute;
  width: 100%;
  

  
  
  background-color: #fff;
  
  /* margin-top: 1rem; */
  border-radius: 5px;
  
  z-index: 90;
  /* transform: translateY(-50%); */
  /* border: 1px solid goldenrod;*/







  
}

.search-dropdown__search-results-item {
  padding: 1rem;
  width: 100%;
  
  transition: all 0.5s;
  z-index: 90;
}

.search-dropdown__search-results-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
.to__station-container{
  position: relative;
}

.plus-btn{
  background-color: rgba(31, 58, 147, 0.8);
  width:2rem;
  height:2rem;
  color: white;
}
.minus-btn{
  background-color: rgba(31, 58, 147, 0.8);
  width:2rem;
  height:2rem;
  color: white;
}
