/* HEADINGS */

.heading-primary {
  height: 30vh;
  background-color: rgba(31, 58, 147, 0.8);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgba(31, 58, 147, 0.8);
  font-weight: 400;
}

.heading-tertiary {
  font-size: 3rem;
  color: rgba(31, 58, 147, 0.8);
  font-weight: 500;
  padding: 1rem;
}

/* TOPICS */

.topic-greyed {
  font-size: 1.7rem;
  color: rgb(119, 119, 119);
}

.topic-greyed--dark {
  font-weight: 700;
}