.margin-r-xs {
  margin-right: 1rem;
}

.margin-r-s {
  margin-right: 2rem;
}

.margin-l-xxs {
  margin-left: 0.5rem;
}

.margin-l-xs {
  margin-left: 1rem;
}

.margin-b-xxs {
  margin-bottom: 0.5rem;
}

.margin-b-xs {
  margin-bottom: 1rem;
}

.margin-b-s {
  margin-bottom: 2rem;
}

.margin-b-m {
  margin-bottom: 4rem;
}

.margin-b-l {
  margin-bottom: 5rem;
}

.margin-t-s {
  margin-top: 2rem;
}

.margin-t-m {
  margin-top: 4rem;
}

.center-block {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.space {
  padding: 1rem;
}

/* FLEX */
.flex-sa-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-st-center {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

