.view__train--container {
  margin-top: 4rem;
}

.topic {
  /* border: 1px solid green; */
  /* width: 30rem; */
  height: 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10rem;
}

.train__name-box {
  font-size: 3rem;
  color: rgba(31, 58, 147, 0.8);
  font-weight: 500;
  padding: 1rem;
}

.journey__time-box,
.journey__date-box,
.station__text-box {
  font-size: 1.7rem;
  color: rgb(119, 119, 119);
  margin-bottom: 0.5rem;
}

.schedule-container {
    /* border: 1px solid red; */
    margin: 0 15vw;
}

.schedule__headings {
    display: flex;
    justify-content: space-around;
    background-color:rgba(31, 58, 147, 0.8) ;
    /* border: 1px solid rgba(31, 58, 147, 0.8); */
    color: #fff;
}

.topic__station,
.topic__arrival-time,
.topic__departure-time {
    width: 15rem;
    text-align: center;
    padding: 1rem;
}

.schedule__results--odd {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(119, 119, 119, .2);
}

.schedule__results--even {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(119, 119, 119, .4);
}

.result__station,
.result__arrival-time,
.result__departure-time {
    width: 15rem;
    text-align: center;
    /* border: 1px solid sienna; */
}