.view-train__schedule {
  padding: 0 5rem;
}

.view-train__table-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(31, 58, 147, 0.8);
  color: #fff;
}

.view-train__table-heading-text {
  width: 15rem;
  text-align: center;
  padding: 1rem;
}

.view-train__result-row {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.view-train__result-row--odd {
  background-color: rgba(119, 119, 119, 0.2);
}

.view-train__result-row--even {
  background-color: rgba(119, 119, 119, 0.4);
}

.view-train__result-row-item {
  width: 15rem;
  text-align: center;
}
