<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
   <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../utrance-railway/public/css/layout/footer.css" />
    <link rel="stylesheet" href="../../../utrance-railway/public/css/ticketPrice/ticketPrice.css"/>
    <link rel="stylesheet" href="../../../utrance-railway/public/css/base.css" />
</head>
<body style="margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
    <body>
        
        <section>
            <div>1</div>
          </section>
    </body>
</html>