body{
    margin: 0;
    padding: 0;
    width:100%;
    height:110rem;
    background-color: white !important;
}


#user_header{
    width: 100%;
    height: 6rem;
    background-image: linear-gradient(to right, #210340,#2EB1E6 );
    font-family: Aldrich;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    margin: 0;
    color:white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    font-weight: bold;
    border-radius: 0.4rem;
    margin-top: 1rem;
}


#add_notices_form{
   
    margin-top: 4rem;
    
    width: 79rem;
    height: 60rem;
    border-color: black;
    border-style: groove;
}
.text_type{
    float: left;
    font-size: 2rem;
    font-family: Aldrich;
    font-weight: bold;
    margin-top: 1rem;
}

.input_notice_details{
   
    width: 21rem;
    height: 2rem;
    border-color: black;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    
  
}
.names{
    margin-top: 1.5rem;
    margin-left: 3.5rem;
   
}

#textup_area{
    width: 28rem;
    height: 12rem;
    border-color: black;
    border-style: solid;
    border-width: 0.2rem;
    margin-left: 27rem;
    margin-top: 2rem;
    display: block;
}




#add_notice_button{
    background-color:dodgerblue;
    color: white;
    font-size: 2rem;
    
    width: 60rem;
    height: 4rem;
    font-weight: bold;
    font-family: Aldrich;
    border: none;
    margin-top:3rem;
    
}
#add_notice_button:hover{
    background-color: dimgrey;
    color: white;
}
#image_file{
   
    margin-left: 33.9rem;
    border-radius: 0.4rem;
    border-color: black;
    border-width: 0.2rem;
}
#submit_button{
    width: 12rem;
    height: 3rem;
    margin-left: 20px;
    border-radius: 4px;
    font-family: Aldrich;
    font-size: 15px;
    border-color: black;
    border-width: 2px;  
    cursor: pointer;
}
#input_image{
    width: 250px;
    font-family: Aldrich;
    font-size: 15px;
    border-radius: 4px;
    border-color: black;
    border-width: 2px;
}

#divMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}