body{
    margin: 0;
    padding: 0;
    width:100%;
    height:110rem;
    background-color: white !important;
}
#divAll{
    
    margin: auto;
}
#user_header{
    width: 100%;
    height: 6rem;
    background-image: linear-gradient(to right, #210340,#2EB1E6 );
    font-family: Aldrich;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    margin: 0;
    color:white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    font-weight: bold;
    border-radius: 0.4rem;
    margin-top: 1rem;
}
.text_type{
    float: left;
    font-size: 2rem;
    font-family: Aldrich;
    font-weight: bold;
    margin-top: 1rem;
}
#update_train_form{
    display: flex;
    flex-direction: column;
    align-content: center;
    width:78rem;
    height: 93rem;
    margin-top: 3rem;
    border-color: black;
    border-style: groove;
}

.input_train_details{
   
    width: 25rem;
    height: 3.5rem;
    border-color: black;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    
  
}
.names{
    margin-top: 1.5rem;
    margin-left: 3.5rem;
   
}
#train_stop_stations{
    margin-top: 3rem;
    margin-left: 3.5rem;
    border-color: black;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    width: 67rem;
    padding: 1rem;
    height: 20rem; 
}

#name_train{
    margin-top: 1.9rem;
    margin-left: 3.5rem;
    border-color: black;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    width: 65rem;
    padding: 1rem;
    height: 6rem;
}
.select_train_details{
    width: 25rem;
    height: 3.5rem;
    font-family: Aldrich;
    border-color: black;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    margin-top: 0.5rem;

    
}
#train_up{
    margin-left: 3rem;
    float: left;
    width: 15rem;
}
#train_up1{
    margin-left: 2.5rem;
    float: left;
    width: 15rem;
    margin-top: 1rem;
}

#select_from{
    width: 10rem;
    height: 2.5rem;
}

#select_from1{
    width: 10rem;
    height: 2.5rem;
    margin-top: 1.5rem;
   
}
.button_up{
    width: 15rem;
    height:3.5rem;
    margin-left: 5rem;
    border-radius: 0.4rem;
    color: white;
    background-color: #210340;
    border-color: white;
    border-style: solid;
    font-family:Aldrich;
    cursor: pointer;
    
}
#textup_area{
    width: 20rem;
    height: 8rem;
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
    margin-left: 27.5rem;
    margin-top: 2rem;
    display: block;
}

#select_to1{
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    
}
    
#select_to{
    width: 10rem;
    height: 2.5rem;
    
}
.input_class{
    width: 10.5rem;
    margin-top: 2.5rem;
    height: 2rem;
    margin-left: 2rem;
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.4rem;
    float: left;
}
#train_ticket_prices{
    display: block;
}
#train_duration{
    margin-top: 6rem;
    margin-left: 3.2rem;
    border-color: black;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    width: 71.5rem;
    padding: 1rem;
    height: 10rem; 
}
.text_type1{
    display: block;
    font-size: 2rem;
    font-family: Aldrich;
    font-weight: bold;
    margin-top: 1rem;
}



   

#update_button{
    background-color:dodgerblue;
    color: white;
    font-size: 1.8rem;
    
    width: 40rem;
    height: 3rem;
    font-weight: bold;
    font-family: Aldrich;
    border: none;
    cursor: pointer;
   height:3.5rem;
    margin-top: 3.5rem;
    margin-left: 18rem;

}
#update_button:hover{
    background-color: dimgrey;
    color: white;
}
.train_up_uration{
    margin-top: 1rem;
    float: left;
    margin-left: 2rem;

}

.checkbox{
    float: left;
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
}
