#logo_header {
  background-color: #140028;
  background-image: none;
  height: 6rem;
  width: 100%;
  padding: 0px;
}

.body {
  width: 100%;
  height: 100%;
  padding: 0px;
}

#user_name {
  background-color: black;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  float: right;
  margin-right: -11rem;
  margin-top: 1.5rem;
  font-family: Aldrich;
  width: 8rem;
  cursor: pointer;
}

#text_hello {
  font-size: 4rem;
  color: white;
  padding-left: 10rem;
  font-weight: bold;
}
#hello_body {
  background-color: #210340;
  width: 100%;

  font-family: Aldrich;
}

#functions_body {
  background-color: #210340;
  width: 100%;
  height: 5rem;
  font-family: Aldrich;
}

#functions_body_button_set {
  font-family: Aldrich;
  width: 125rem;
  height: 10rem;
  padding-left: 8rem;
}
.button_function {
  cursor: pointer;
  height: 4rem;
  border-radius: 1.4rem;
  border: none;
  color: white;
  background-color: #140028;
  font-size: 1.7rem;
  border-bottom: 0.4rem;

  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bold;
  outline: none;
  font-family: Aldrich;
}
.button_function:hover {
  color: white;
  background-color: gray;
  opacity: 70%;
}

#profileImage {
  width: 19rem;
  height: 19rem;
  float: right;
  border-radius: 50%;
  background: #9c98a7;
  font-size: 6.5rem;
  color: #fff;
  text-align: center;
  line-height: 19rem;
  margin: 2rem 0;
  margin-right: 2rem;
}

.dropbtn {
  background-color: #140028;
  color: white;
  outline: none;
  font-size: 1.7rem;
  border: none;
  width: 17rem;
  height: 3rem;
  font-family: Aldrich;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  font-size: 1.6rem;
  font-weight: bolder;
  background-color: #f9f9f9;
  min-width: 24rem;
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  outline: none;
}

.dropdown-content a {
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  font-family: Aldrich;
}
.dropdown-content a:hover {
  background-color: lightgray;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #555555;
  font-family: Aldrich;
}

#button_area_newsFeed {
  background-color: white !important;
  height: 40rem;
}

#button_area {
  background-color: white !important;
}
