#change_password_Header{
    
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right, #210340,#2EB1E6 );
    font-family: Aldrich;
   
    font-size: 24px;
    margin: 0;
    color:white;
    padding-top: 14px;
    
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;


}



.body{
    width:100%;
    height:100%;
    padding: 0px;  
   
}
#password_form{
    padding-left: 100px;
    padding-top: 20px;
    width: 400px;
    height: 360px;
    border-color:#140028;
    border-width: 2px;
    border-style: solid;
    padding: 80px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 40px;
    
}
.password_text{
    font-family: Aldrich;
    font-weight: bold;
    color: black;
}
.input_password{
    width: 250px;
    height: 30px;
    border-color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    text-shadow: none;
    outline:none;
    cursor: pointer;

}

#confirm_button{
    width: 350px;
    height: 40px;
    font-family: Aldrich;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
#password_image{
    padding-left: 450px;
    margin-top: -300px;
}
