*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  background-color: #eeeeee;
}

.nav-container {
  /* border: 1px solid maroon; */
  /* background-color: #eeeeee; */
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
  font-family: "Lato", sans-serif;
}

.navbar {
  /* border: 1px solid red; */
  background-color: #fff;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logobox {
  margin-left: 3rem;
  /* border: 1px dotted darkcyan; */
}

.logo {
  height: 8rem;
}

.user__nav {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.user__nav > * {
  /* border: 1px solid slateblue; */
}

.user__nav > *:not(:first-child) {
  margin-left: 3rem;
}

.userdetails-box {
  display: flex;
  align-items: center;
}

.userdetails-box > * {
  /* border: 1px solid blanchedalmond; */
}

.user-name {
  margin-left: 1rem;
}

.notification-box {
  position: relative;
}

.notification__icon {
  height: 3rem;
  width: 4rem;
  fill: rgb(119, 119, 119);
  cursor: pointer;
}

.notification__numbers {
  position: absolute;
  top: -20%;
  left: 70%;
  font-size: 1rem;
  background-color: #89c4f4;
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.user-img {
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.main-container {
  /* background-color: aquamarine; */
  /* border: 1px solid sandybrown; */
  /* height: 80vh; */
  margin: 10vh 10vw;
  font-family: "Lato", sans-serif;
  border-radius: 5px;
  display: flex;
}

.sidebar {
  width: 30%;
  /* border: 1px solid red; */
  background-image: linear-gradient(to right bottom, #89c4f4, #59abe3);
  color: #fff;
}

.sidebar__nav-role-items {
    margin-bottom: 5rem;
}

.sidebar__nav-item {
  /* border: 1px solid black; */
  padding: 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
    transition: all .3s;
}

.sidebar__nav-item:hover {
    transform: translateX(.5rem);
}

.sidebar__nav-settings,
.sidebar__nav-manage--trains {
  margin-top: 4rem;
}

.sidebar__nav-item > * {
  margin: 0 1rem;
}

.sidebar__nav-icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}

.userrole-name {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 1rem;
    margin-left: 3rem;
    margin-top: 6rem;
    text-transform: uppercase;
    width: 80%;
}

.load-content-container {
  background-color: #fff;
  /* border: 1px solid yellow; */
  width: 60vw;
}

.load-content {
    /* border: 1px solid red; */
    height: 100%;
    width: 80%;
    margin: auto auto;
}

.content-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #59abe3;
    font-weight: 400;
    /* display: inline-block; */
    margin-top: 2rem;
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
}

.content-title p {
    margin: 0 auto;
    width: max-content;
}

.content__fields {
    /* border: 1px solid black; */
    margin: 4rem auto 2rem auto;
    /* margin-top: 4rem; */
    /* margin-bottom: 2rem; */
    display: flex;
    flex-direction: column;
    width: 80%;
    /* border: 1px solid red; */
}

.content__fields-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    /* border: 1px solid purple; */
}

.form__label,
.adress-box__title {
    font-weight: 700;
    color: rgb(119, 119, 119);
    margin-bottom: 1rem;
}

.adress-box__title {
    text-transform: uppercase;
}

.form__input {
    padding: 1rem;
    outline: none;
    /* width: 60%; */
    background-color: rgb(242, 242, 242);
    border: none;
    font-family: "Lato", sans-serif;
    border-radius: 3px;
}

.userpicture-box {
    /* border: 1px solid red; */
}

.userpicture-box > img {
    margin-top: 4rem;
    height: 10rem;
    border-radius: 50%;
}

.form__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.form__upload + label {
    padding: 5px;
    border-bottom: 1px solid #89c4f4;
    transition: all .3s;
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}

.form__upload + label:hover {
    color: #fff;
    transform: translateY(-2px);
    background-color: #89c4f4;
}

.btn__save-box {
    display: flex;
    justify-content: flex-end;
}

.btn__save {
    width: 12rem;
    text-align: center;
    margin-top: 2rem;
    background-color: #89c4f4;
    border-radius: 10rem;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.btn__save:active,
.btn__save:focus {
    transform: translateY(3px);
}

.seperator {
    height: 1px;
    margin: 5rem 0 5rem 0;
    background-color: rgba(119, 119, 119, 0.2);
}

.btn__password {
    margin-bottom: 5rem;
}

/* Manage Users */

.dashboard-searchbar--container {
    /* border: 1px solid blue; */
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-searchbar {
    /* border: 1px solid red; */
    padding: 1rem;
    border-radius: 10rem;
    border: none;
    width: 70%;
    outline: none;
    background-color: rgb(244, 242, 242);
    font-family: "Lato", sans-serif;
    color: rgb(119, 119, 119);
    transition: all .3s;
}

.dashboard-searchbar:focus,
.dashboard-searchbar:active {
    width: 80%;
}
.search-icon__btn {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: -4rem;
    fill: rgb(119, 119, 119);
    cursor: pointer;
    transition: all .5s;
}

.search-icon__btn:active,
.search-icon__btn:focus {
    transform: scale(0.9);
}

.dashboard-searchbar__dropdown {
    height: 3.5rem;
    width: 3.5rem;
    /* background-color: rgb(244, 242, 242); */
    margin-left: 3rem;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropdown-btn {
    /* border: 1px solid red; */
    height: 3rem;
    width: 3rem;
    fill: rgb(119, 119, 119);
}

.dropdown__list {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: rgb(244, 242, 242);
  font-family: "Lato", sans-serif;
  border-radius: 10rem;
  text-align: center;
}

select {
  -webkit-appearance: none;
    -moz-appearance: none;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    text-align: center; */
}

.adduserbtn {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin-top: 4rem;
  width: max-content;
  background-color: #89c4f4;
  padding: 1rem;
  color: #fff;
  transition: all .2s;
  cursor: pointer;
}

.adduserbtn-text {
  margin-right: 2rem;
  font-size: 2rem;
}

.adduserbtn-img {
  fill: #fff;
  height: 2.5rem;
  width: 2.5rem;
}

.adduserbtn:active,
.adduserbtn:focus {
  transform: translateY(.2rem);
}

.search__results-container {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.search__result-card {
  /* border: 1px solid purple; */
  height: 8rem;
  display: flex;
  align-items: center;
  background-color: rgb(244, 242, 242);
  padding: 0 2rem;
}

.search__result-card:not(:last-child) {
  margin-bottom: 4rem;
}

.search__result-card > * {
  /* border: 1px solid green; */
  flex: 1;
  text-align: center;
}

.search__result-user-mainbox {
  display: flex;
  height: 100%;
  align-items: center;
  width: fit-content;
  /* padding: 0 1rem; */
}

.user-mainbox__img-box {
  /* border: 1px solid yellow; */
  margin-right: 1rem;
}

.profile__avatar {
  height: 5rem;
  border-radius: 10rem;
}

.user-mainbox__other {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-mainbox__other-name {
  font-weight: 700;
}

.user-mainbox__other > * {
  /* border: 1px solid brown; */
}

.search__result-user-emailbox {
  /* padding: 0 1rem; */
}

.search__result-managebtn,
.search__result-deletebtn {
  background-color: #fff;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
}

.search__result-managebtn:active,
.search__result-managebtn:focus,
.search__result-deletebtn:active,
.search__result-deletebtn:focus {
  transform: scale(0.97);
}