*{
    margin: 0;
}

body{
    width: 100%;
}

h1{
    margin: 0rem auto;
    font-family: Annie Use your telescope;
    color: rgb(253, 247, 247);
    padding-top: 1.5rem;
    padding-left: 20rem;
    font-size: 2rem;
    background-color: rgb(72, 134, 206);
    background-image: linear-gradient(to right, #210340,#2EB1E6 );
      
  
  }

  
img{
    margin-left: 1.7rem;
}
p.groove {
    width: 50%;
    text-align: center;
    margin-left: 3rem;
    margin-top: 2rem;
    height: 8rem;
    outline-style: groove;
}

.main {
    width: 90rem;
    margin: 3rem auto;
   border-width: 0.09rem;
    border-style: solid;
     border-color: rgb(5, 5, 5);
     height: 14rem;
     margin-top: 2rem;
     padding-left: 3rem;
     cursor: pointer;
     background-color:#E4EDF2;


}


.main_1 {
    width: 6rem;
    background-color:#C9CED1 ;
    border-radius: 0.5rem;
    float: left;
   margin: auto;
    padding: 1rem;
    height: 4.5rem;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    
}

.main_3 {
    width: 30rem;
    float: left;
    margin-top: 1.5rem;
    font-family: Annie Use your telescope;
}
.main_2 {
    width: 10rem;
    float: left;
    margin-left: 3rem;
}
.main_4 {
    width: 20rem;
    float: left;
    margin-top: 2rem;
}

.main_5 {
    width: 150px;
    float: left;
    margin-top: 20px;
}

.button-update{
    background-color:#65E177 ;
    
    height: 3.5rem;
    outline: none;
    width: 8.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Annie Use your telescope;
    font-size: 1.4rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    outline: none;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
   
}
.button-update:hover{
    
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      
}
.button-delete:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button-delete{
    background-color:red ;
    height: 40px;
    outline: none;
    width: 100px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Annie Use your telescope;
    font-size: 17px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
   
}

#button-search{
    background-color: #2EB1E6;
    width: 18rem;
    height:4.5rem ;
    color: white;
    font-size: 1.8rem;
    border: none;
    margin-left: 1.1rem;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    float: left;
    
}
.user-name{
    font-size: 2rem;
    padding: 1.5rem;
    width: 8rem;
}



