<<<<<<< HEAD:public/css/ticketPrice/ticketPrice.css

.main-01 {
  width:100%;
    /* width: 96rem; */
    height: 6rem;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1.875rem;
  }
  #div-table{
    justify-content: center;
    display: flex;
  }
.main-02 {
  width:100%;
      /* width: 97rem; */
    color:aqua;
    background: #1F3A93;

    padding-left: 40rem;
    padding-top: 0.2rem;
    display: inline-block;
  }
  .p-ticket-head{
      color: white;
      font-size: 1.8rem;
      font-family: "Poppins", sans-serif;
      margin-left: 24.625rem;
      margin-top: 1.800rem;
  }

.train-table{
    padding-top: 4rem;
   
}
  table {
    font-family: arial, sans-serif;
    font-weight: bold;
    border-collapse: collapse;
    width: 74%;
    height: 45%;
    margin-left: 1.8rem;
    
    
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0.4rem;
    
  }
  th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0.4rem; 
    
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    /* padding: 0.4rem; */
    height: 25px;
    padding: 5px;

    /* width:auto; */
    width:1px;white-space:nowrap; 

  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #div-table{
      padding-top: 4.5rem;
  }
  /* .td-first{
      background-color: #5CB8DC ;
  }
  .td-second{
      background-color:  rgb(250, 151, 70);
  } */

  tr:first-child {
    color: darkblue;
    font-weight: bold; 
    height: 40px;
    
  }
  td:first-child {
    color: darkblue;
    font-weight: bold; 
  }
  tbody>tr>:nth-child(2){
    color:rgb(250, 151, 70);
   width:100px;
    text-align:center;
   }


  .pagination {
    display: flex;
  justify-content: center;
    
     
  }

  .div-pagination{
    width:14.5rem;
    padding: 1rem;
    align-items: center;
    height:4rem;
    font-size: 1.6rem;
   display: flex;
   background-color: white;
   flex-direction: column;
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
   border-radius: 5px;
   font-family: "Noto Sans JP", sans-serif;
   border-color: #1F3A93;
    border-style: groove;
    border-width: 0.14rem;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
  }
  .div-pagination:hover{
    background: #e7e7e7;
  }
  
  
  .pagination a {
    color: black;
    float: left;
    padding: 4px 11px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
  
  

  #div-sleeping-births{
    width:17.5rem
  }

  .select{
    display: flex;
    margin-top: 2rem;
  justify-content: center;
  
  }
  .div-class{
    
    margin-right: 1.2rem;
  }

  .select-routes{
    width: 24.5rem;
    border-radius: 0.6rem;
    height: 4.5rem;
    border-color: #1F3A93;
    border-style: groove;
    border-width: 0.14rem;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
     
    
    
  }
  .select-submit{
    display: flex;
  justify-content: center;
  }
  .select-div{
    padding: 1.3rem;
    width:14.5rem;
    background-color: white;
    height: 4.5rem;
    text-align: center;
    margin-left: 1.5rem;
    cursor: pointer;
    border-color: #1F3A93;
    font-family: "Lato", sans-serif;
    border-style: groove;
    border-width: 0.14rem;
    border-radius: 4px;
  }


  .td-first{
    background-color: #5CB8DC ;
}
.td-second{
    background-color:  rgb(250, 151, 70);
}

.center {


  margin: auto;
  width: 60%;
  height: 28rem;
  padding: 10px;
  background-color: white;
  margin-top: 5rem;


}

.start-name{
  margin-left: 5rem;
  margin-top: 3rem;
}

.ticekt-sub{
  display: flex;
  margin-left: 20rem;
}
.first-class{
  margin-top: 3rem;
  margin-left: 4.5rem;
  display: inline;
}
.input-class{
  margin-top: 5rem;
  width: 10rem;
  height: 4rem;
  background-color:#ecf0f1;
  margin-left: 4rem;
  text-align: center
}
.select-person{
  width: 9rem;
  height: 3rem;
  margin-top: 5rem;
  margin-left: 34rem;
}

=======

.main-01 {
  width:100%;
    /* width: 96rem; */
    height: 6rem;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1.875rem;
  }
  #div-table{
    justify-content: center;
    display: flex;
  }
.main-02 {
  width:100%;
      /* width: 97rem; */
    color:aqua;
    background: #1F3A93;

    padding-left: 40rem;
    padding-top: 0.2rem;
    display: inline-block;
  }
  .p-ticket-head{
      color: white;
      font-size: 1.8rem;
      font-family: "Poppins", sans-serif;
      margin-left: 24.625rem;
      margin-top: 1.800rem;
  }

.train-table{
    padding-top: 4rem;
   
}
  table {
    font-family: arial, sans-serif;
    font-weight: bold;
    border-collapse: collapse;
    width: 74%;
    height: 45%;
    margin-left: 1.8rem;
    
    
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0.4rem;
    
  }
  th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0.4rem; 
    
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    /* padding: 0.4rem; */
    height: 25px;
    padding: 5px;

    /* width:auto; */
    width:1px;white-space:nowrap; 

  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #div-table{
      padding-top: 4.5rem;
  }
  /* .td-first{
      background-color: #5CB8DC ;
  }
  .td-second{
      background-color:  rgb(250, 151, 70);
  } */

  tr:first-child {
    color: darkblue;
    font-weight: bold; 
    height: 40px;
    
  }
  td:first-child {
    color: darkblue;
    font-weight: bold; 
  }
  tbody>tr>:nth-child(2){
    color:rgb(250, 151, 70);
   width:100px;
    text-align:center;
   }


  .pagination {
    display: flex;
  justify-content: center;
    
     
  }

  .div-pagination{
    width:14.5rem;
    padding: 1rem;
    align-items: center;
    height:4rem;
    font-size: 1.6rem;
   display: flex;
   background-color: white;
   flex-direction: column;
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
   border-radius: 5px;
   font-family: "Noto Sans JP", sans-serif;
   border-color: #1F3A93;
    border-style: groove;
    border-width: 0.14rem;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
  }
  .div-pagination:hover{
    background: #e7e7e7;
  }
  
  
  .pagination a {
    color: black;
    float: left;
    padding: 4px 11px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
  
  

  #div-sleeping-births{
    width:17.5rem
  }

  .select{
    display: flex;
    margin-top: 2rem;
  justify-content: center;
  
  }
  .div-class{
    
    margin-right: 1.2rem;
  }

  .select-routes{
    width: 24.5rem;
    border-radius: 0.6rem;
    height: 4.5rem;
    border-color: #1F3A93;
    border-style: groove;
    border-width: 0.14rem;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
    
    
  }
  .select-submit{
    display: flex;
  justify-content: center;
  }
  .select-div{
    padding: 1.3rem;
    width:14.5rem;
    background-color: white;
    height: 4.5rem;
    text-align: center;
    margin-left: 1.5rem;
    cursor: pointer;
    border-color: #1F3A93;
    font-family: "Lato", sans-serif;
    border-style: groove;
    border-width: 0.14rem;
    border-radius: 4px;
  }


  .td-first{
    background-color: #5CB8DC ;
}
.td-second{
    background-color:  rgb(250, 151, 70);
}
  
>>>>>>> 17911611589dd70045f6904043aab7ae640a0be6:public/css/pages/ticketPrice/ticketPrice.css
  