.booking__container {
    margin-top: 4rem;
    /* border: 1px solid red; */
    /* height: 75vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topic {
    /* border: 1px solid green; */
    /* width: 30rem; */
    height: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10rem;
}

.booking__form {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 60%;
}

.station__text-box {
    font-size: 3rem;
    color:  rgba(31, 58, 147, 0.8);
    font-weight: 500;
    padding: 1rem;
}

.journey__time-box,
.journey__date-box {
    font-size: 1.7rem;
    color: rgb(119, 119, 119);
    margin-bottom: .5rem;
}

.journey__date-day {
    position: relative;
    /* border: 1px solid green; */
}

.day__upper {
    position: absolute;
    top: -.5rem;
    left: 2.5rem;
}

/* .train__booking-card {
    height: 25rem;
    padding: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
    margin-bottom: 10rem;
} */

/* .card__persons,
.card__class,
.card__price {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .card__price {
    font-size: 2rem;
    color: rgba(31, 58, 147);
} */

/* .seperator {
    width: 2px;
    height: 20%;
    background-color:  rgb(119, 119, 119);
    align-self: center;
} */

.card__item {
    /* border: 1px solid violet; */
}

/* .card__train-details {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .train__details-item {
    padding: 1rem;
} */

/* .train__name--name {
    margin-right: 1rem;
} */
/* 
.train__type {
    font-size: 1rem;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 10rem;
    padding: .2rem;
} */

/* .train__number-box {
    position: absolute;
    padding: 1rem;
    top: -1rem;
    left: -1rem;
    width: 10rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.3);
    z-index: 10;
} */

/* .person__count {
    width: 3rem;
    padding: .5rem;
    text-align: center;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
} */
/* 
.train_class {
    padding: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
} */

.total-price__box {
    border: 1px solid rgba(31, 58, 147, 0.8);
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem;
    align-self: flex-start;
    display: flex;
    /* width: 40rem; */
}

.total-price__box--text {
    margin-right: 1rem;
}

.btn__container {
    align-self: center;
}
