.seat-booking__day {
  position: relative;
}

.seat-booking__day-up {
  position: absolute;
  top: -0.5rem;
  left: 2.5rem;
}

.seat-booking__form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.seat-booking__total-price {
  border: 1px solid rgba(31, 58, 147, 0.8);
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
  align-self: flex-start;
  display: flex;
  /* width: 40rem; */
}

.seat-booking__btn-container {
  align-self: center;
}

.seat-booking__final-amount {
  font-family: inherit;
  font-size: 2rem;
}

.seat-booking__remaining-seats {
  background-color: red;
  transform: translateY(-4rem);
  height: 4rem;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  width: max-content;
  margin: 0 auto;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 2rem;
}

.seat-booking__no-seats {
  font-family: inherit;
  background-color: transparent;
  color: #fff;
  font-size: inherit;
  display: inline-block;
  width: 3rem;
}
