:root {
  --color-primary: #eeeeee;
  --color-primary-light: 27, 147, 194;
  --color-secondary-dark: 19, 0, 38;

  --color-tertiary-light: 192, 196, 199;
  --color-slight-gray: #ecf0f1;
  --color-brown: rgb(119, 119, 119);

  /* main */
  --color-main: rgba(31, 58, 147, 0.8);
  --color-secondary-light: rgb(119, 119, 119);
  --color-secondary-light--half: rgba(119, 119, 119, 0.1);


  /* buttons */
  --color-btn-box-background-white: #fff;
  --color-btn-box-text-view: #000000;
  --color-btn-box-text-delete: #d64541;
  --color-btn-box-text-activate: #3FC380;

  --color-btn-square-background: rgba(31, 58, 147, 0.8); 
  --color-btn-square-text: #fff;
  
  --color-btn-round-background: rgba(31, 58, 147, 0.8); 
  --color-btn-round-text: #fff;
  --color-btn-round-background--hover: rgb(250, 151, 70);

  --color-btn-round-pagination-background: rgba(119, 119, 119, .1);
  --color-btn-round-pagination-border: rgb(250, 151, 70);

}