
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Dosis&display=swap');

body{
    background-color: #59abe3;
    
    
}
.div-sub{
    display: grid;
    padding-top: 0.5rem;
}



.auth-content{
    width:50%;
   height: 85rem;
    margin:5rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    background-color: white;
    border-radius: 0.3rem;
    border-color: black;
    border-style: solid;
    font-family: 'Cairo', sans-serif !important;
    border-width: 1px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.auth-content .form-title{
    text-align: center;
    padding-bottom: 1.3rem;
    font-size: 1.8rem;
    margin: auto;
}

.auth-content form div{
    margin-bottom: 1rem;
}
.auth-content form p{
    text-align: center;
}

.btn{
    padding: .5rem;
    background:#89c4f4;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 30%;
    height: 35%;
    
}

.btn-big{
    padding:.7rem 1.3rem;
    line-height:1.3rem
}
.btn:hover{
    color: white!important;
    background: #59abe3;

}
.text-input{
    padding:.7rem 1rem;
    outline: none;
    width: 50%;
   height: 3.5rem;
   border: none;

    border-radius: 5px;
    background-color: #E4E9EB ;
}




#city_values{
    width:14.8rem;
    height: 3rem;
    border-color: black;
    border-style: solid;
    border-width: 0.12rem;
    border-radius: 0.4rem;
    background-color: #E4E9EB ;
}
.lbl-user{
    font-weight: bold;
    font-size: 1.4rem;
    font-family: 'Cairo', sans-serif !important;
    
}

.down-arrow {
    height: 2rem;
    margin: 0 auto;
    padding-right: 1rem;
    /* border: 1px solid red; */
    width: 2rem;
   /* animation: 1s moveDown infinite;*/
    cursor: pointer;
  }

  #sign-in{
      font-size: 1.4rem;
      color: black;
      font-weight: bold;
     
  }
  #check1{
      width: 1.2rem;
      height: 1.2rem;
      padding: 1rem;
  }

  .form-error{
      color:red;
  }

  .form-success{
      color:green;
  }
  .input-error{
      box-shadow: 0 0 5px red;
  }

