body{
    background-color: #eeee;
}



.auth-content{
    width:28%;
    margin:5rem auto;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.4rem;
    background-color: white;
    border-radius: 0.3rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.auth-content .form-title{
    text-align: center;
    padding-bottom: 1.3rem;
    font-size: 1.8rem;
    margin: auto;
}

.auth-content form div{
    margin-bottom: 1rem;
}
.auth-content form p{
    text-align: center;
}

.btn{
    padding: .5rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1.08rem;
    
}

.btn-big{
    padding:.7rem 1.3rem;
    line-height:1.3rem
}
.btn:hover{
    color: white!important;
    background: #005255;

}
.text-input{
    padding:.7rem 1rem;
    outline: none;
    width: 80%;
    border-radius: 5px;
}

#user-first-name{
    padding:.7rem 1rem;
   float: left !important;
    width: 80%;
    border-radius: 0.4rem;
}
#city_values{
    width:10.8rem;
    height: 2.5rem;
    border-color: black;
    border-style: solid;
    border-width: 0.12rem;border-radius: 0.4rem;
}
.lbl-user{
    font-weight: bold;
    font-size: 1.2rem;
    
}

.down-arrow {
    height: 2rem;
    margin: 0 auto;
    padding-right: 1rem;
    /* border: 1px solid red; */
    width: 2rem;
   /* animation: 1s moveDown infinite;*/
    cursor: pointer;
  }